@import './common';

.header-container {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr auto 1fr 1fr;
    grid-gap: 5px;
    align-items: center;
    background-color: lightblue;
    color: darkgray;

    .item3 {
      justify-self: center;
    }

    .item4 {
      grid-column: 4 / 6;
      justify-self: right;
    }
  }
}

.flex-container {
  display: flex;

  .sidebar-container {
    @include overflow-ellipsis;
    margin: 0 1px;
    // word-break: break-word;

    -ms-flex: 30%;  /* IE 10 */
    flex: 30%;

    .sidebar-item {
      > h4 {
        @include overflow-ellipsis;
      }

      border: solid;
      margin: 2px 0;
      padding: 2px;

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .content-container {
    margin: 0 1px;
    text-align: center;
    word-break: break-word;

    -ms-flex: 70%;  /* IE 10 */
    flex: 70%;
    top: 0;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    align-self: flex-start;

    p {
      text-align: justify;
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }
}

.footer-container {
  button {
    width: 100%;
  }
}
